

* {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  transition: 300ms;
  margin: 0px;
}

body{
  background-color: whitesmoke;
}

.HoofdDoelKader{
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
  height: 10vw;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#HoofdDoelTitel{
  margin-top: 5vh;

  text-align: center;
  font-size: 1.3vw;
}

#HoofdDoelInfo{
  text-align: center;
  font-size: 1vw;

  padding-top: 1vh;
}

#TussenDoelenTitel{
  text-align: center;
  font-size: 1.2vw;
  grid-row: 1;
  color: black;

  border-top: 0.3vh solid gray;
  padding-top: 5vh;

}

.TussenDoelen{
  display: grid;
}

.TussenDoelenVisualisatie{
  grid-row: 2;
}

#TussenDoelenVisualisatieTitel{
  text-align: center;

  background-color: rgb(183, 197, 244);
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  margin-top: 30px;

}

.DoelKaders{
  background-color: rgb(233, 228, 228);
  border-radius: 25px;
  height: 5vw;
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.persoonlijkeDoelKaders{
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
  height: 7.5vw;
  width: 35vw;
  margin-left: 7.5vw;
  margin-bottom: 1vw;
}

.GezamelijkDoelVisualisatie{
  text-align: center;
}

.TussenDoelenVisualisatieInfo{
  display: grid;
}

.TussenDoelAmy{
  grid-column: 1;
  text-align: center;
}

#TussenDoelAmyInfo{
  text-align: center;
}

.TussenDoelTycho{
  grid-column: 2;
  text-align: center;
}

#TussenDoelTychoInfo{
  text-align: center;
}

.TussenDoelenHardware{
  grid-row: 3;
}

#TussenDoelenHardwareTitel{
  text-align: center;

  background-color: rgb(13, 110, 253);
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}

.GezamelijkDoelHardware{
  text-align: center;
}

.TussenDoelenHardwareInfo{
  display: grid;
}

.TussenDoelMo{
  grid-column: 1;
  text-align: center;
}

.TussenDoelVince{
  grid-column: 2;
  text-align: center;
}

.TussenDoelenSoftware{
  grid-row: 4;
  text-align: center;
}

#TussenDoelenSoftwareTitel{
  text-align: center;

  background-color: rgb(25, 135, 84);
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}

.TussenDoelenSoftwareInfo{
  display: grid;
}

.TussenDoelSem{
  grid-column: 1;
  text-align: center;
}

.TussenDoelZaka{
  grid-column: 2;
  text-align: center ;
}

#TussenDoelenBegeleidersTitel{
  text-align: center;

  background-color: rgb(189, 189, 189);
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}

.TussenDoelenBegeleidersInfo{
  display: grid;
  margin-top: 5vh;
}

.TussenDoelColson{
  grid-column: 1;
  text-align: center;
}

.TussenDoelClijsters{
  grid-column: 2;
  text-align: center;
}

.TussenTitel{
  font-size: 1.25vw;
}

.PersoonlijkeTussenTitel{
  font-size: 0.95vw;
}
#TussenDoelenTitel{
  color: rgb(19, 19, 19);
}

#hoofdoelkopTietel{
  font-size: 2vw;
  text-align: center ;
}

@media (max-width:1000px){
  .hoofdoelPaginaTietel{
    display: block;
  }
  .TussenDoelen{
    display: block;
  }
  .TussenDoelenVisualisatieInfo{
    display: block;
  }
  .TussenDoelenSoftwareInfo{
    display: block;
  }
  .TussenDoelenHardwareInfo{
    display: block;
  }
  .TussenDoelenBegeleidersInfo{
    display: block;
  }

  .DoelKaders{
    width: 75vw;
    height: 10vh;
    margin-left: 12.5vw;

    background-color: rgb(200, 200, 200);
  }

  .persoonlijkeDoelKaders{
    width: 90vw;
    height: 20vh;
    margin-left: 5vw;
  }
}

@media (max-width:700px){
  .persoonlijkeDoelKaders{
    height: 22vh;
  }

  h3{
    font-size: 200%;
  }
}

@media (max-width:500px){
  .persoonlijkeDoelKaders{
    height: 20vh;
  }
  .DoelKaders{
    height: 15vh;
  }
}