*{
    font-family: "Times New Roman", Times, serif;
    transition: 500ms;
}

body{
    margin: 0;
}

a{
    /* text-decoration: none; */
    color: whitesmoke;
}

.PaginaTitel{
    font-size: 500%;

    text-align: center;

    margin-top: 5vh;
}

.OverkoepelendeDiv{
    display: grid;
}

.Visualisatie{
    grid-row: 1;
    grid-column: 1;

    background-color:  rgb(183,197,244);
}

.Software{
    grid-row: 1;
    grid-column: 2;

    background-color: rgb(25,135,84) ;
}

.Hardware{
    grid-row: 1;
    grid-column: 3;

    background-color: rgb(13,110,253);
}

.KoppelLink{
    text-align: center;

    width: 31vw;
    height: 25vh;

    padding-top: 25%;

    margin-left: 1.25vw;

    border-radius: 5vw;
}